@{
    ViewBag.Title = "Home Page";
}

<section class="container my-5">
    <h2 class="text-white text-center my-3">Integrantes</h2>
    <div class="row justify-content-center">
        <div class="col-3">
            <div class="card text-white bg-secondary mb-3 " style="max-width: 18rem;">
                <div class="card-header"></div>
                <img src="~/images/yulai.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center">Julio Eduardo Canizalez</h5>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
                <div class="card-header"></div>
                <img src="~/images/menow.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center">Ren&eacute; Francisco Calder&oacute;n</h5>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
                <div class="card-header"></div>
                <img src="~/images/elitsa.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center">Elisa Abigail Rivas</h5>
                </div>
            </div>
        </div>
    </div>
</section>